{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags wagtailroutablepage_tags %}

{% block body_class %}template-blogindexpage{% endblock %}

{% block content %}
<h1>{{ page.title }}</h1>
<a href="{% routablepageurl page 'latest_post' %}">View Latest Post Only</a>
<h2>Categories</h2>
    <ul>
        {% for cat in categories %}
            <li>
                <a href="?category={{ cat.slug }}">
                    {{ cat.name }}
                </a>
            </li>
        {% endfor %}
    </ul>
    <div class="intro">{{ page.intro|richtext }}</div>
    <div class="container">
        {# {% for post in page.get_children %} #}
        {% for post in posts %}
            <div class="row">
                <div class="col-sm-4">
                    <h2><a href="{% pageurl post %}">{{ post.title }}</a></h2>
                    {% if post.specific.subtitle %}
                    <p>{{ post.specific.subtitle }}</p>    
                    {% endif %}
                </div>
                <div class="col-sm-6">
                    {{ post.specific.intro }}
                </div>
                <div class="col-sm-2">
                    {{ post.specific.body|richtext }}
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                {% if posts.paginator.num_pages > 1%}
                    <div class="pagination">
                        {% if posts.has_previous %}
                            <li class="page-item">
                                <a href="?page={{ posts.previous_page_number }}" class="page-link">
                                    <span>&laquo;</span>
                                </a>
                            </li>
                        {% endif %}
                        {% for page_num in posts.paginator.page_range %}
                            <li class="page-item {% if page_num == posts.number %}active{% endif %}">
                                <a href="?page={{ page_num }}" class="page-link">
                                    {{ page_num }}
                                </a>
                            </li>
                        {% endfor %}
                        {% if posts.has_next %}
                            <li class="page-item">
                                <a href="?page={{ posts.next_page_number }}" class="page-link">
                                    <span>&raquo;</span>
                                </a>
                            </li>
                        {% endif %}
                    </div>
                {% endif %}

            </div>
        </div>
    </div>
    

{% endblock %}